<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{{ url_for('static', filename = 'style.css')}}" rel = "styleheet" />
    <title>Document</title>
</head>
<body>
    <form action=""method="post>">
        <input type="text" name="nome"/>
        <input type="text" name="idade"/>
        <textarea name="conteudo"></textarea>
        <input type="submit" name="acao" value="Enviar"/>
    </form>
    <script src= "{{ url_for('static', filename = 'style.css')}}"> </script>
</body>
</html>